* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

body {
  position: relative;
  background: #f4f3f1;
  color: #191b1f;
  font-family: var(--font-poppins), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
